
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1 align="center" style="color:white;">Welcome to Pausch Bridge Light Show!</h1>
    <p align="center" style="color:white;"> Following is the interactive show given by 15661 Pausch Bridge Group2</p>
    <p align="center" style="color:white;"> Submit the username and enjoy!</p>
    <p align="center" style="color:white;"> First Blank:  Any username you like</p>
    <p align="center" style="color:white;"> Second Blank: GHC/Purnell (print g or p)</p>
    <form align="center" action="/demoshow/process" method="get">
	    <input type="text" name="q">
	    <input type="text" name="d">
	    <input type="submit" value="submit username">
    </form>
  </body>
</html>
